<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>tapicerek_vol_1</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Albert+Sans:100,400,800,900&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/dh-navbar-centered-brand.css">
    <link rel="stylesheet" href="assets/css/Navbar-Right-Links-icons.css">
    <link rel="stylesheet" href="assets/css/Team-Presentation---2-Persons---Social-Media-Icon.css">
</head>

<body>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6" style="text-align: center;"><img class="teamprofilepictures" src="assets/img/pp1.jpg">
                    <h1 class="teamprofilenames">Thierry De Ridder</h1>
                    <h1 class="teamprofileprofessions">Avocat</h1>
                    <p class="teamprofiledescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><i class="fab fa-linkedin-in teamprofileicons"></i>
                </div>
                <div class="col-md-6" style="text-align: center;"><img class="teamprofilepictures" src="assets/img/pp2.jpg">
                    <h1 class="teamprofilenames">Murielle Vandermersch</h1>
                    <h1 class="teamprofileprofessions">Avocate</h1>
                    <p class="teamprofiledescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><i class="fab fa-linkedin-in teamprofileicons"></i>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>