{% load static %}
{% load wagtailimages_tags %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Albert%20Sans.css' %}">
    <link rel="stylesheet" href="{% static 'css/dh-navbar-centered-brand.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navbar-Right-Links-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_footer.css' %}">
    {% block extra_link %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    {% endblock extra_link %}
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light custom-border" style="height: 74px;position: relative;margin-bottom: 100px;">
        <div class="container-fluid">
            <div>
                <a class="navbar-brand navbar-brand-centered" href="#">
                {% if logo_image %}
                    {% image logo_image fill-240x240 as img %}
                    <img class="img-fluid" id="logo" src="{{ img.url }}" width="240px">
                {% endif %}
                </a>
                <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="#" style="margin-left: 85px;margin-right: 40px;"><img id="logo-facebook" src="{% static 'img/facebook-circular-logo.png' %}"> </a></li>
                    <li class="nav-item"><a href="#" ><img id="logo-instagram" src="{% static 'img/instagram.png' %}" style="color: #724a02;"></a></li>
                    <li class="nav-item"></li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item counter-item">
                        <div class="counter" data-target="1992"><strong>ESTD</strong><br><strong class="number">0</strong></div>
                    </li>
                    <li class="nav-item counter-item">
                        <div class="counter" data-target="10923"><strong>ZLECENIA</strong><br><strong class="number">0</strong></div>
                    </li>
                    <li class="nav-item counter-item" style="margin-right: 80px;">
                        <div class="counter" data-target="3434"><strong>KLIENCI</strong><br><strong class="number">0</strong></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-md bg-body pb-3" id="nav-sec">
      <a class="navbar-brand" href="#" id="navbar-logo" style="display: none;">
          <div class="logo-container">
              {% if logo_image_2 %}
                  {% image logo_image_2 fill-500x150 as img %}
                  <img src="{{ img.url }}" alt="Logo" style="height: 100%; width: auto;">
              {% endif %}
          </div>
      </a>
        <div class="container">
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
              <span class="visually-hidden">Toggle navigation</span>
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar-self" id="navcol-2" style="text-align: center; align-items: center; font-size: 26px; font-family: 'Albert Sans', sans-serif; font-weight: bold; color: rgb(114,74,2);">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="text-align: center;color: rgb(114,74,2);">Usługi</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="text-align: center;color: rgb(114,74,2);">Tkaniny</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="text-align: center;color: rgb(114,74,2);">Doświadczenie</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="text-align: center;color: rgb(114,74,2);">Artykuły</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="text-align: center;color: rgb(114,74,2);">Galeria</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="text-align: center;color: rgb(114,74,2);">Zespół</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="text-align: center;color: rgb(114,74,2);">Kontakt</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="text-align: center;color: rgb(114,74,2);">O firmie</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content%}
    {% endblock content %}
    <footer class="bg-dark pb-1 mt-5">
        <div class="container py-5">
          <div class="row">
            <div class="col-md-3 mb-4 mb-md-0">
              <img src="{% static 'img/logo-tapicerek-white-transparent.png' %}" alt="Logo" style="width: 80%;">
            </div>
            <div class="col-md-2 mb-4 mb-md-0" style="margin-right: 30px;">
              <h5 class="footer-heading">Ważne Linki</h5>
              <hr class="footer-divider">
              <ul class="list-unstyled">
                <li><a href="#" class="footer-link">Oferta</a></li>
                <li><a href="#" class="footer-link">O firmie</a></li>
                <li><a href="#" class="footer-link">Lokalizacja</a></li>
                <li><a href="#" class="footer-link">Kontakt</a></li>
                <li><a href="#" class="footer-link">Polityka Prywatności</a></li>
              </ul>
            </div>
            <div class="col-md-3 mb-4 mb-md-0" style="margin-right: 30px;">
              <h5 class="footer-heading">Godziny Otwarcia</h5>
              <hr class="footer-divider">
              <ul class="list-unstyled footer-hours">
                <li class="footer-hours">Poniedziałek: {{ open_mon }}</li>
                <li class="footer-hours">Wtorek: {{ open_tue }}</li>
                <li class="footer-hours">Środa: {{ open_wed }}</li>
                <li class="footer-hours">Czwartek: {{ open_thu }}</li>
                <li class="footer-hours">Piątek: {{ open_fri }}</li>
                <li class="footer-hours">Sobota: {{ open_sat }}</li>
                <li class="footer-hours">Niedziela: {{ open_sun }}</li>
              </ul>
            </div>
            <div class="col-md-3" style="margin-right: 30px;">
              <h5 class="footer-heading">Kontakt</h5>
              <hr class="footer-divider">
              <ul class="list-unstyled footer-text">
                <li style="color: #888;">{{ street }}</li>
                <li style="color: #888;margin-bottom: 1em;">{{ zip_city }}</li>
                <li>{{ tel_home }}</li>
                <li>{{ tek_mobi }}</li>
                <li>{{ email }}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-bottom text-center py-3 mt-2 pb-1">
          <small>Copyright © 2023 Tapicerek Jolanta Kwolek-Sokół</small>
        </div>
      </footer>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/button_up.js' %}"></script>
    {% block extra_js %}
    {% endblock extra_js %}

</body>

</html>