{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>tapicerek_vol_1</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Albert%20Sans.css' %}">
    <link rel="stylesheet" href="{% static 'css/dh-navbar-centered-brand.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navbar-Right-Links-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_footer.css' %}">

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light custom-border" style="height: 126px;position: relative;">
        <div class="container-fluid">
            <div><a class="navbar-brand navbar-brand-centered" href="#"> <img class="img-fluid" id="logo" src="../static/img/Logo-tapicerek-transparent.png" width="240px"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="#" style="margin-left: 85px;margin-right: 40px;"><img id="logo-facebook" src="{% static 'img/facebook-circular-logo.png' %}"> </a></li>
                    <li class="nav-item"><a href="#" ><img id="logo-instagram" src="{% static 'img/instagram.png' %}" style="color: #724a02;"></a></li>
                    <li class="nav-item"></li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item counter-item">
                        <div class="counter" data-target="1992"><strong>ESTD</strong><br><strong class="number">0</strong></div>
                    </li>
                    <li class="nav-item counter-item">
                        <div class="counter" data-target="10923"><strong>ZLECENIA</strong><br><strong class="number">0</strong></div>
                    </li>
                    <li class="nav-item counter-item" style="margin-right: 80px;">
                        <div class="counter" data-target="3434"><strong>KLIENCI</strong><br><strong class="number">0</strong></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-md bg-body py-3" id="nav-sec">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse navbar-self" id="navcol-2" style="text-align: center;align-items: center;font-size: 26px;font-family: 'Albert Sans', sans-serif;font-weight: bold;color: rgb(114,74,2);">
                <ul class="navbar-nav mx-auto" style="width: 1226px;">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color: rgb(114,74,2);">Usługi</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="text-align: center;color: rgb(114,74,2);font-family: 'Albert Sans', sans-serif;">Tkaniny</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="text-align: center;color: rgb(114,74,2);">Doświadczenie</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="text-align: center;color: rgb(114,74,2);">Artykuły</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="text-align: center;color: rgb(114,74,2);">Galeria</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="text-align: center;color: rgb(114,74,2);">Zespół</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="text-align: center;color: rgb(114,74,2);">Kontakt</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="text-align: center;color: rgb(114,74,2);">O firmie</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid d-flex flex-column align-items-center py-4 py-xl-5 custom-container" style="margin-top: 110px;">
        <div class="row gy-4">
            <div class="col-12 col-md-12">
                <div class="card">
                    <img class="card-img img-fluid" src="{% static 'img/living-room-8.png' %}">
                </div>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <div class="card">
                    <img class="card-img img-fluid" src="{% static 'img/image_3.jpg' %}">
                </div>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <div class="card">
                    <img class="card-img img-fluid" src="{% static 'img/image_3.jpg' %}">
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex flex-column align-items-center py-4 py-xl-5" style="margin-top: 55px;">
        <div class="row gy-4 row-cols-1 row-cols-md-2 w-100" style="max-width: 800px;">
            <div class="col order-md-first">
                <div class="card"><img class="card-img w-100 d-block blur-image" id="prace-img-1" src="{% static 'img/Projekt%20bez%20nazwy%20(1).png' %}" style="max-width: 380px;max-height: 280px;object-fit: cover;">
                    <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center p-4 hover-text">
                        <h4 style="font-family: 'Albert Sans', sans-serif;font-weight: bold;color: var(--bs-body-bg);">Title</h4>
                        <p style="font-family: 'Albert Sans', sans-serif;font-weight: bold;color: var(--bs-body-bg);">Volutpat habitasse risus posuere, commodo fusce donec. Turpis donec tristique.</p>
                    </div>
                </div>
            </div>
            <div class="col d-md-flex order-first justify-content-md-start align-items-md-end order-md-1">
                <div style="width: 80%;">
                    <h2 style="font-family: 'Albert Sans', sans-serif;color: rgb(114,74,2);"><strong>Nasze najnowsze prace</strong></h2>
                    <p class="w-lg-50" style="color: rgb(114,74,2);font-weight: bold;">Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>
                </div>
            </div>
            <div class="col order-md-2">
                <div class="card"><img class="card-img w-100 d-block blur-image" id="prace-img-1" src="{% static 'img/Projekt%20bez%20nazwy%20(2).png' %}" style="max-width: 380px;max-height: 280px;object-fit: cover;">
                    <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center p-4 hover-text">
                        <h4 style="color: var(--bs-body-bg);font-family: 'Albert Sans', sans-serif;font-weight: bold;">Title</h4>
                        <p style="color: var(--bs-body-bg);font-family: 'Albert Sans', sans-serif;font-weight: bold;">Volutpat habitasse risus posuere, commodo fusce donec. Turpis donec tristique.</p>
                    </div>
                </div>
            </div>
            <div class="col order-md-2">
                <div class="card"><img class="card-img w-100 d-block blur-image" id="prace-img-1" src="{% static 'img/Projekt%20bez%20nazwy%20(2)%20(1).png' %}" style="max-width: 380px;max-height: 280px;object-fit: cover;">
                    <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center p-4 hover-text">
                        <h4 style="color: var(--bs-body-bg);font-family: 'Albert Sans', sans-serif;font-weight: bold;">Title</h4>
                        <p style="font-family: 'Albert Sans', sans-serif;font-weight: bold;color: var(--bs-body-bg);">Volutpat habitasse risus posuere, commodo fusce donec. Turpis donec tristique.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-dark pb-1">
        <div class="container py-5">
          <div class="row">
            <div class="col-md-3 mb-4 mb-md-0">
              <img src="{% static 'img/logo-tapicerek-white-transparent.png' %}" alt="Logo" style="width: 80%;">
            </div>
            <div class="col-md-2 mb-4 mb-md-0" style="margin-right: 30px;">
              <h5 class="footer-heading">Ważne Linki</h5>
              <hr class="footer-divider">
              <ul class="list-unstyled">
                <li><a href="#" class="footer-link">Oferta</a></li>
                <li><a href="#" class="footer-link">O firmie</a></li>
                <li><a href="#" class="footer-link">Lokalizacja</a></li>
                <li><a href="#" class="footer-link">Kontakt</a></li>
                <li><a href="#" class="footer-link">Polityka Prywatności</a></li>
              </ul>
            </div>
            <div class="col-md-3 mb-4 mb-md-0" style="margin-right: 30px;">
              <h5 class="footer-heading">Godziny urzędowania</h5>
              <hr class="footer-divider">
              <ul class="list-unstyled footer-hours">
                <li class="footer-hours">poniedziałek: 08:00 - 16:00</li>
                <li class="footer-hours">wtorek: 08:00 - 16:00</li>
                <li class="footer-hours">środa: 08:00 - 16:00</li>
                <li class="footer-hours">czwartek: 08:00 - 16:00</li>
                <li class="footer-hours">piątek: 08:00 - 16:00</li>
              </ul>
            </div>
            <div class="col-md-3" style="margin-right: 30px;">
              <h5 class="footer-heading">Kontakt</h5>
              <hr class="footer-divider">
              <ul class="list-unstyled footer-text">
                <li style="color: #888;">Gumniska 21B</li>
                <li style="color: #888;margin-bottom: 1em;">39-200 Dębica</li>
                <li>Tel: 14 307 00 94</li>
                <li>Tel: +48 606 109 776</li>
                <li>E-mail: business.time@interia.pl</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-bottom text-center py-3 mt-2 pb-1">
          <small>Copyright © 2023 Tapicerek Jolanta Kwolek-Sokół</small>
        </div>
      </footer>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/numers_count.js' %}"></script>
</body>

</html>