/* Nav buttons on home page */
.nav-item .nav-link:hover {
    background-color: rgb(114,74,2);
    border-radius: 5px;
    color: white!important;
    transition: background-color 0.6s ease-in-out, color 0.4s ease-in-out;
}

.counter-item {
    text-align: center;
    color: rgb(114,74,2);
    margin-right: 20px;
}

.custom-container {
    max-width: 95%!important;
}

#nav-sec {
    z-index: 1020; /* Upewnij się, że z-index jest odpowiednio wysoki */
    transition: top 0.1s; /* opcjonalnie, dla płynnego przejścia */
}

/* logo nav-sec */
#navbar-logo {
    display: none;
    position: absolute;
    left: 50px;
    top: 0;
    height: 100%;
}

.logo-container {
    max-width: 150px; /* Maksymalna szerokość logo */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    max-height: 100%;
    width: auto; /* Zachowuje proporcje obrazu */
}


/* Styl dla paska nawigacji, gdy jest 'przyklejony' na górze */
.sticky {
    position: fixed;
    top: 0; /* Bez przesunięcia, przyczepia się bezpośrednio do góry */
    width: 100%; /* upewnij się, że pasek nawigacji rozciąga się na całą szerokość */
    z-index: 1020; /* Wysoki z-index, aby być na wierzchu innych elementów */
    border-top: 3px solid rgb(114,74,2); /* Brązowe obramowanie górne */
    border-bottom: 3px solid rgb(114,74,2); /* Brązowe obramowanie dolne */
}

/* Contact button on the home page */

.btn-cont-main {
    color: white;
    font-weight: bold;
    font-family: 'Albert Sans', sans-serif;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    background-color: rgb(114,74,2);
}

.btn-cont-main:hover {
    color: white!important;
    font-weight: bold!important;
    background-color: rgb(70, 46, 2);
    transition: background-color 0.3s ease-in-out, color 0.2s ease-in-out;
}

/* Go up button */
#scrollTopBtn {
    padding: 10px;
    background-color: rgb(70, 46, 2);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

#scrollTopBtn:hover {
    opacity: 1;
}

.feather {
    fill: white;
    stroke: white;
}


/* Services css */
.stream-image {
    max-width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stream-image-small {
    max-width: 20%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stream-heading {
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: rgb(114,74,2);
}

.stream-subheading {
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: rgb(114,74,2);
    font-size: 28px;
}

.stream-alert {
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: red;
}

.stream-paragraph-style-1{
    font-size: 20px;
    color: rgb(114,74,2);
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.stream-paragraph-style-2{
    color: rgb(62, 62, 62);
    font-size: 24px;
    font-weight: 500;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.stream-paragraph-style-3{
    font-size: 24px;
    color: rgb(114,74,2);
}

.stream-link a {
    font-weight: 400;
    color: rgb(110, 72, 1);
    text-decoration: none;
    transition: .5s;
}

.stream-link a:hover {
    font-weight: 500;
    color: rgb(161, 106, 4);
}

