.navbar-toggle {
  z-index: 3;
}

.navbar-default {
  background-color: #ffffff;
  background-image: none;
}

@media screen and (min-width:768px) {
  .navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
  }
}

@media screen and (min-width:768px) {
  .navbar > .container .navbar-brand-centered, .navbar > .container-fluid .navbar-brand-centered {
    margin-left: -80px;
  }
}

#logo {
  margin-top: -40px;
}

#logo-facebook {
  max-height: 36px;
  margin-top: 5px;
  margin-left: 9px;
  display: inline-block;
}

#logo-instagram {
  max-height: 36px;
  margin-top: 5px;
  margin-left: 9px;
  display: inline-block;
}

.custom-border {
  position: relative;
}

.custom-border::before, .custom-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 450px;
  background-color: rgb(143,124,88);
  /*top: 120px;*/
}

.custom-border::before {
  left: 0;
}

.custom-border::after {
  right: 0;
}

@media (max-width: 767px) {
}

#nav-sec {
  /* top: 100px; */
}

#navcol-2 .navbar-nav > .nav-item:not(:last-child) {
  margin-right: 30px;
}

#image-main {
  position: absolute;
}

.blur-image {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

.hover-text {
}

.card:hover .blur-image {
  filter: none;
}

.card:hover .hover-text {
  display: none;
}

